.tab1, .tab2, .tab3 {
  padding: $space-medium;
  display: none;
  background-color: $color-lightgrey;
  border-radius: $space-small;
}

input[type=radio][name="tabs"] {
  display: none;
}

.step {
  padding: $space-medium 0 $space-medium $space-small;
  border: 1px solid $color-green;
  border-radius: 5px;
  background-color: $color-green;
  color: $color-white;
  text-transform: uppercase;
  font-family: $font-navigation, sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:after {
    content: " ";
    background-color: $color-green;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    margin-right: -13px;
    transition: background 0.3s linear;
    transform: rotate(45deg);
    border-radius: 5px;
    z-index: -1;
  }
}

.wizard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: $space-large;
}

.wizard-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: $space-large;
  justify-items: start;
}

#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3 {
  display: grid;
}

col.ingredient-sort, col.ingredient-delete {
  width: 32px;
  min-width: 32px;
}

col.ingredient-amount {
  width: 120px;
  min-width: 120px;
}

col.ingredient-unit {
  width: 170px;
  min-width: 170px;
}

col.ingredient-food {
  width: auto;
}

.new-ingredients {
  display: table;
  width: 100%;

  td {
    padding: $space-small;
    border-top: 2px dashed $color-another-grey;
    overflow: hidden;
  }
}
