<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Rezept</title>
</head>
<body>
<div class="content recipe-detail-content" layout:fragment="content">
    <div class="recipe-detail-image-container">
        <div class="recipe-detail-image">
            <img th:src="@{/images/recipe_default.png}" src="../../static/images/recipe_default.png" alt="Logo">
        </div>
    </div>
    <div class="recipe-detail-rating">[4/5 Sterne]</div>
    <h1 class="recipe-detail-title" th:text="${recipe.name}">[Schinkennudeln]</h1>
    <div class="recipe-detail-info">
        <ul>
            <li>[<strong>Arbeitszeit:</strong> 15 Minuten]</li>
            <li>[<strong>Schwierigkeitsgrad:</strong> simpel]</li>
        </ul>
    </div>
    <div class="recipe-detail-ingredients">
        <h2 th:text="#{recipesDetailPage.ingredientsHeadline}">[Zutaten]</h2>
        <ul>
            <li class="ingredient-container" th:each="ingredient: ${recipe.ingredients}" th:key="${ingredient.id}">
                <span class="ingredient-unit" th:text="${ingredient.quantity + ' ' + ingredient.unit.shortName}">100 gr</span>
                <span class="ingredient-food" th:text="${ingredient.food.name}">Nudeln</span>
            </li>
        </ul>
    </div>
    <div class="recipe-detail-instruction">
        <h2 th:text="#{recipesDetailPage.instructionsHeadline}">[Zubereitung]</h2>
        <p th:text="${recipe.instruction}">[Man nehme...]</p>
    </div>
</div>
</body>
</html>