<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Rezeptliste</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <h1 th:text="#{recipesListPage.headline}">[Rezepte]</h1>
    <div class="recipe-card-container">
        <div th:each="recipe : ${recipes}" class="recipe-card">
            <div class="recipe-card-image">
                <img th:src="@{/images/recipe_default.png}" src="../../static/images/recipe_default.png" alt="Image">
            </div>
            <div class="recipe-card-info">
                <a href="/recipes/1" th:href="@{|/recipes/${recipe.id}|}" th:text="${recipe.name}">[Schinkennudeln]</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>