<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>Homepage</title>
</head>
<body>
	<div class="content" layout:fragment="content">
		<h1>RECIPES LIST</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>NAME</th>
			</tr>
			<tr th:each="recipe : ${recipes}">
				<td th:text="${recipe.id}">1</td>
				<td th:text="${recipe.name}">Schinkennudeln</td>
			</tr>
		</table>
	</div>
</body>
</html>