<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Neues Rezept</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <h1>[Neues Rezept anlegen]</h1>
    <label for="recipe-name">Rezeptname</label>
    <input type="text" id="recipe-name" placeholder="Rezeptname eingeben"/>
    <br/>
    <br/>
    <label for="recipe-instruction">Zubereitung</label>
    <textarea id="recipe-instruction" placeholder="Man nehme..."></textarea>

</div>
</body>
</html>