<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Neues Rezept</title>
</head>
<body>
<div class="content" layout:fragment="content">

    <div class="wizard">
        <input checked="checked" id="tab1" type="radio" name="tabs"/>
        <input id="tab2" type="radio" name="tabs"/>
        <input id="tab3" type="radio" name="tabs"/>
        <input id="tab4" type="radio" name="tabs"/>

        <nav class="wizard-menu">
            <label for="tab1" class="step">
                <span>
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <circle style="fill: #5F5F5F" cx="10" cy="10" r="10"/>
                        <text x="10" y="10" fill="#FFF" font-size="16px" text-anchor="middle" alignment-baseline="central">1</text>
                    </svg>
                </span>
                <span class="label-text">Rezept</span>
            </label>
            <label for="tab2" class="step">
                <span class="label-number">2</span>
                <span class="label-text">Zubereitung</span>
            </label>
            <label for="tab3" class="step">
                <span class="label-number">3</span>
                <span class="label-text">Rezeptbild</span>
            </label>
            <label for="tab4" class="step">
                <span class="label-number">4</span>
                <span class="label-text">Vorschau und Speichern</span>
            </label>
        </nav>

        <figure class="wizard-content">
            <div class="tab1" th:include="fragments/new-recipe-step1 :: step1"></div>
            <div class="tab2" th:include="fragments/new-recipe-step2 :: step2"></div>
            <div class="tab3" th:include="fragments/new-recipe-step3 :: step3"></div>
            <div class="tab4" th:include="fragments/new-recipe-step4 :: step4"></div>
        </figure>
    </div>

</div>
</body>