<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Neues Rezept</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <table class="new-ingredients">
        <colgroup>
            <col class="ingredient-sort"/>
            <col class="ingredient-amount"/>
            <col class="ingredient-unit"/>
            <col class="ingredient-food"/>
            <col class="ingredient-delete"/>
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th>[Menge]</th>
            <th>[Einheit]</th>
            <th>[Zutatenname]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="#">
                    <img th:src="@{/images/sort.svg}" src="../../static/images/sort.svg" alt="Sort">
                </a>
            </td>
            <td>
                <input type="text" autocomplete="off"/>
            </td>
            <td>
                <select>
                    <option th:each="unit : ${units}" th:value="${unit.id}" th:text="${unit.longName}"></option>
                </select>
            </td>
            <td>
                <select>
                    <option></option>
                    <option th:each="food : ${foods}" th:value="${food.id}" th:text="${food.name}"></option>
                </select>
            </td>
            <td>
                <a href="#">
                    <img th:src="@{/images/trash.svg}" src="../../static/images/trash.svg" alt="Delete">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>