<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th=”http://www.thymeleaf.org”
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header class="panel" th:fragment="header">
	<a th:href="@{/}" href="/"><i class="icon fas fa-home"></i></a>
	<p class="columnMiddle">{title}</p>
	<span class="columnRight">
		<i class="icon fas fa-search"></i>
		<i class="icon fas fa-heart"></i>
		<i class="icon fas fa-bars"></i>
	</span>
</header>

<footer class="panel" th:fragment="footer">
	&copy; 2020 Sandra Markerud
</footer>

</html>