/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Blokletters-Balpen';
    src: local('Blokletters-Balpen'), url(../fonts/Blokletters-Balpen.ttf) format('truetype');
}

@font-face {
    font-family: 'ButterflyKids-Regular';
    src: local('ButterflyKids-Regular'), url(../fonts/ButterflyKids-Regular.ttf) format('truetype');
}

html {
    font-family: Blokletters-Balpen, sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
    color: #5F5F5F;
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    grid-template-rows: auto auto;
}

.headline {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;

    padding: 10px;

    font-family: ButterflyKids-Regular, serif;
    font-size: 42px;
    font-weight: bolder;
}

.logo {
    background: url("../images/logo.png") -1px -1px no-repeat;
    height: 50px;
    width: 50px;
}

.nav-container {
    width: 100%;
    background-color: #5F5F5F;
    border-top: 5px solid #A3C06C;
}

/*
#================================================================================
# burger menu start
#================================================================================
*/

label.burger {
    display: block;
    width: 75px;
    height: 45px;
    position: relative;

    margin-right: auto;
    border-radius: 4px;
}

input#burger {
    display: none
}

.line {
    position: absolute;
    left: 10px;
    height: 5px;
    width: 30px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}

.line:nth-child(1) {
    top: 10px;
}

.line:nth-child(2) {
    top: 20px;
}

.line:nth-child(3) {
    top: 30px;
}

#burger:checked + .burger .line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

#burger:checked + .burger .line:nth-child(2) {
    opacity: 0;
}

#burger:checked + .burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

/*nav {
    max-width: 1720px;
    margin: 0 auto;

    display: grid;
}
*/


/*
#================================================================================
# burger menu end
#================================================================================
*/

/*
#================================================================================
# navigation start
#================================================================================
*/

nav.nav {
    display: grid;
    grid-template-columns: 100%;
}

.nav-menu {
    display: none;
}

#burger:checked ~ .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
}

li.menu-item {
    background-color: #5F5F5F;
    padding: 10px;
}

.menu-item:nth-child(1) {
    border-top: 1px solid #FFFFFF;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/*
#================================================================================
# navigation end
#================================================================================
*/

.content {
    padding: 10px;
}

.copyright {
    padding: 10px;
    background-color: #5F5F5F;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    body {
        /*background-color: red;*/
    }
}

@media screen and (min-width: 321px) and (max-width: 424px) {
    body {
        /*background-color: yellow;*/
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    body {
        /*background-color: green;*/
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        /*background-color: lightblue;*/
    }
}

@media screen and (min-width: 1024px) {
    body {
        /*background-color: blue;*/
    }
}