/* CSS Reset */
html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Blokletters-Balpen';
    src: local('Blokletters-Balpen'), url(../fonts/Blokletters-Balpen.ttf) format('truetype');
}

@font-face {
    font-family: 'ButterflyKids-Regular';
    src: local('ButterflyKids-Regular'), url(../fonts/ButterflyKids-Regular.ttf) format('truetype');
}

html {
    font-family: Blokletters-Balpen, sans-serif;
    font-style: normal;
    font-size: 13px;
    background-color: #FFFFFF;
    color: #5F5F5F;
    height: 100%;
}

body {
    height: 100%;
    min-width: 320px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: #A3C06C;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #A3C06C;
}

header {
    display: grid;
    grid-template-rows: auto auto;
}

.headline {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;

    padding: 10px;

    font-family: ButterflyKids-Regular, serif;
    font-size: 42px;
    font-weight: bolder;
}

.logo {
    background: url("../images/logo.png") -1px -1px no-repeat;
    height: 50px;
    width: 50px;
}

.nav-container {
    width: 100%;
    background-color: #5F5F5F;
    border-top: 5px solid #A3C06C;
}

/*
#================================================================================
# burger menu start
#================================================================================
*/

label.burger {
    display: block;
    width: 75px;
    height: 45px;
    position: relative;

    margin-right: auto;
    border-radius: 4px;
}

input#burger {
    display: none
}

.line {
    position: absolute;
    left: 10px;
    height: 5px;
    width: 30px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}

.line:nth-child(1) {
    top: 10px;
}

.line:nth-child(2) {
    top: 20px;
}

.line:nth-child(3) {
    top: 30px;
}

#burger:checked + .burger .line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

#burger:checked + .burger .line:nth-child(2) {
    opacity: 0;
}

#burger:checked + .burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

/*nav {
    max-width: 1720px;
    margin: 0 auto;

    display: grid;
}
*/


/*
#================================================================================
# burger menu end
#================================================================================
*/

/*
#================================================================================
# navigation start
#================================================================================
*/

nav.nav {
    display: grid;
    grid-template-columns: 100%;
}

.nav-menu {
    display: none;
}

#burger:checked ~ .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
}

li.menu-item {
    background-color: #5F5F5F;
    padding: 10px;
}

.menu-item:nth-child(1) {
    border-top: 1px solid #FFFFFF;
}

nav a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/*
#================================================================================
# navigation end
#================================================================================
*/

.content {
    padding: 10px;
}

.recipe-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 20px;
}

.recipe-card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.recipe-card-image {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.recipe-card-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.recipe-card-info {
    color: #A3C06C;
    text-align: center;
}

.recipe-detail-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.recipe-detail-image-container {

}

.recipe-detail-image {
    padding: 10px;
    display: grid;
    border: 1px solid #F2F2F2;
    border-radius: 5px;

}

.recipe-detail-image img {
    width: 100%;
    height: auto;
}

.recipe-detail-rating {
    font-size: 85%;

}

.recipe-detail-title {

}

.recipe-detail-info {

}

.recipe-detail-info ul li {
    display: inline;
    font-size: 85%;
}

.recipe-detail-ingredients {

}

.ingredient-container {
    display: grid;
    padding: 0.4em 0;
    border-bottom: 1px solid #F2F2F2;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.recipe-detail-instruction {

}

.recipe-detail-instruction p {
    white-space: pre-wrap;
}

.copyright {
    padding: 10px;
    background-color: #5F5F5F;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    /* Sven's iPhone Hochformat*/
}

@media screen and (min-width: 375px) and (max-width: 567px) {
    /* Sandrsa's iPhone Hochformat*/
}

@media screen and (min-width: 568px) and (max-width: 666px) {
    /* Sven's iPhone Querformat*/
}

@media screen and (min-width: 667px) and (max-width: 767px) {
    /* Sandra's iPhone Querformat*/
}

/*@media screen and (min-width: 768px) and (max-width: 1023px) {*/
@media screen and (min-width: 768px) {
    /* iPad Mini Hochformat*/
    .recipe-detail-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;

    }

    .recipe-detail-image-container {
        grid-row: 1 / 4;
    }
}

@media screen and (min-width: 1024px) {
    /* iPad Mini Querformat*/
    .recipe-detail-content {
        grid-template-columns: 1fr 2fr;
    }
}

