@font-face {
    font-family: 'ArchitectsDaughter';
    src: local('ArchitectsDaughter'), url(./fonts/ArchitectsDaughter.ttf) format('truetype');
}

@font-face {
    font-family: 'Blokletters-Potlood';
    src: local('Blokletters-Potlood'), url(./fonts/Blokletters-Potlood.ttf) format('truetype');
}

@font-face {
    font-family: 'Blokletters-Viltstift';
    src: local('Blokletters-Viltstift'), url(./fonts/Blokletters-Viltstift.ttf) format('truetype');
}

@font-face {
    font-family: 'Blokletters-Balpen';
    src: local('Blokletters-Balpen'), url(./fonts/Blokletters-Balpen.ttf) format('truetype');
}